venv/
venv_python3/
venv_p3/
venv34/
dist/
build/
_build/
logs/

jwt_auth_client.yaml

.settings/
.project
.pydevproject
*.pyc
.tox
.cache
*.db
junit*.xml
*.egg-info
\.python-version
debian/
.coverage
coverage.xml
*.sqlite
